<template>
  <div class="container">
    <v-card
      v-if="legacySystemHTML==''"
      class="mx-auto"
      max-width="344"
      outlined
      loading="true"
      loader-height="5"
    >
      <v-list-item three-line>
        <v-list-item-content>
          <div class="overline mb-4">
            OVERLINaE
          </div>
          <v-list-item-title class="headline mb-1">
            Headline 5
          </v-list-item-title>
          <v-list-item-subtitle>Greyhound divisely hello coldly fonwderfully</v-list-item-subtitle>
        </v-list-item-content>

        <v-list-item-avatar
          tile
          size="80"
          color="grey"
        />
      </v-list-item>

      <v-card-actions>
        <v-btn text>
          Button
        </v-btn>
        <v-btn text>
          Button
        </v-btn>
      </v-card-actions>
    </v-card>
  </div>
</template>

<script>
  export default {
    data () {
      return {
        legacySystemHTML: '',
        formulario: 0
      };
    },
    mounted () {
      this.legacySystemHTML = '<center>Vamos a rockear</center>';
      setTimeout(() => {
        this.legacySystemHTML = '';
      }, 3000);
    },
    methods: {
    }
  };
</script>
