<template>
  <v-container
    fluid
    tag="section"
  >
    <v-row align="center">
      <v-col cols="12" sm="6">
        <h1 class="mb-6">
          Numero de pagina
        </h1>
        <h3>Porfiria Aguda:</h3>Es una carecía de la enzima hidroximetilbilano sintasa que produce acumulación del hemo ácido delta aminolevulinico y porfobillinogeno en el hígado inicialmente.
      </v-col>
      <v-col cols="12" sm="6">
        <v-img :src="loadImagen('rHrdPj')" aspect-ratio="1.4" />
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12" sm="6">
        <v-row no-gutters>
          <v-col cols="4">
            <v-img :src="loadImagen('IKYPkt')" aspect-ratio="0.7" />
          </v-col>
          <v-col cols="4">
            <v-img :src="loadImagen('ryRKtV')" aspect-ratio="0.7" />
          </v-col>
          <v-col cols="4">
            <v-img :src="loadImagen('YcnBqi')" aspect-ratio="0.7" />
          </v-col>
        </v-row>
      </v-col>
      <v-col cols="12" sm="6">
        <v-row no-gutters>
          <v-col cols="6">
            <v-img :src="loadImagen('noPgSk')" aspect-ratio="1.4" />
          </v-col>
          <v-col cols="6">
            <v-img :src="loadImagen('JhtjeL')" aspect-ratio="1.4" />
          </v-col>
        </v-row>
        <v-row no-gutters>
          <v-col cols="6">
            <v-img :src="loadImagen('mvXfVm')" aspect-ratio="1.4" />
          </v-col>
          <v-col cols="6">
            <v-img :src="loadImagen('hSbCVk')" aspect-ratio="1.4" />
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>

  export default {
    name: 'Hoja',
    components: {},

    data () {
      return {
        datosEnfer: null
      };
    },

    computed: {
      vistaAuxOpen () {
        return this.$store.getters.viewAuxOpen;
      }
    },
    beforeMount () {
      this.datos();
    },

    methods: {
      loadImagen (code) {
        let imagen = `https://laarl.com/xx/jjj/${code}.jpg`;
        if (!this.datosEnfer[code]) {
          imagen = `https://laarl.com/xx/jjj/gris_${code}.jpg`;
        }
        return imagen;
      },
      datos () {
        this.datosEnfer = this.$store.getters.enfermedades.porfidia.cromos;
      },
      cargarVista (vista) {
        this.$store.commit('SET_VIEW_AUX_OPEN', vista);
      }
    }
  };
</script>
