<template>
  <v-container id="dashboard" fluid tag="section">
    <v-row>
      <v-col cols="12" sm="6" md="4" lg="3" @click="cargarVista('formTarifas')">
        <base-material-stats-card
          color="primary"
          avatar="https://www.elnacional.cat/uploads/s1/10/21/79/25/porfiria-wikipedia_1_630x630.jpeg"
          icon="mdi-poll"
          title="Porfidia Aguda"
          :value="logrados"
          :small-value="totales"
          sub-icon="mdi-information-outline"
          sub-text="Lorem ipsum dolor sit amet, cons..."
        />
      </v-col>
      <v-col cols="12" sm="4" md="4" lg="3">
        <base-material-stats-card
          color="primary"
          avatar="https://2.bp.blogspot.com/-78twPgSKlhs/VCsCu8BpsYI/AAAAAAAAAGE/_Vui1VyIcRw/s1600/3026344_249px.jpg"
          icon="mdi-poll"
          title="Tricotilomanía"
          value="0"
          small-value="/2"
          sub-icon="mdi-information-outline"
          sub-text="Lorem ipsum dolor sit amet, cons..."
        />
      </v-col>
      <v-col cols="12" sm="4" md="4" lg="3">
        <base-material-stats-card
          color="primary"
          avatar="https://www.rals.org.ar/wp-content/uploads/2017/05/Moebius1-640x300.jpg"
          icon="mdi-poll"
          title="Sd. de Moebius"
          value="0"
          small-value="/2"
          sub-icon="mdi-information-outline"
          sub-text="Lorem ipsum dolor sit amet, cons..."
        />
      </v-col>
      <v-col cols="12" sm="4" md="4" lg="3">
        <base-material-stats-card
          color="primary"
          avatar="https://img.saludsavia.com/wp-content/uploads/2018/11/Elefantiasis-300x200.jpg"
          icon="mdi-poll"
          title="Elefantiasis"
          value="0"
          small-value="/2"
          sub-icon="mdi-information-outline"
          sub-text="Lorem ipsum dolor sit amet, cons..."
        />
      </v-col>
    </v-row>
  </v-container>
</template>

<script>

  export default {
    name: 'Home',
    components: {},

    data () {
      return {
        logrados: '0',
        totales: '/0'
      };
    },

    computed: {
      vistaAuxOpen () {
        return this.$store.getters.viewAuxOpen;
      }
    },
    mounted () {
      this.datos();
    },

    methods: {
      datos () {
        const data = this.$store.getters.enfermedades.porfidia;
        this.logrados = `${data.tot_cromos_logra}`;
        this.totales = `/${data.tot_cromos}`;
      },
      cargarVista (vista) {
        this.$router.push('pagina6');
        // this.$store.commit('SET_VIEW_AUX_OPEN', vista);
      }
    }
  };
</script>

<style scoped>
  .slide-fade-enter-active {
    transition: all .3s ease;
  }
  .slide-fade-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  .slide-fade-enter, .slide-fade-leave-to  {
    transform: translateX(10px);
    opacity: 0;
  }
</style>
