<template>
  <v-app>
    <dashboard-core-app-bar v-if="loginUser" />

    <dashboard-core-drawer v-if="loginUser" />

    <dashboard-core-view />
  </v-app>
</template>

<script>
  import { mapState } from 'vuex';
  export default {
    name: 'DashboardIndex',

    components: {
      DashboardCoreAppBar: () => import('./components/core/AppBar'),
      DashboardCoreDrawer: () => import('./components/core/Drawer'),
      DashboardCoreView: () => import('./components/core/View')
    },

    data: () => ({
      expandOnHover: true
    }),
    computed: {
      ...mapState(['loginUser']),
      profile () {
        return {
          avatar: true,
          title: this.$t('avatar')
        };
      }
    }
  };
</script>
