<template>
  <v-container fluid tag="section" />
</template>

<script>

  export default {
    name: 'Procesa',
    components: {},

    data () {
      return {
      };
    },

    beforeMount () {
      this.validar();
    },

    methods: {
      validar () {
        const param = this.$route.params.pathMatch;
        console.log('param', param);
        const datos = this.$store.getters.enfermedades;

        if (datos.porfidia.cromos[param] !== undefined) {
          if (!datos.porfidia.cromos[param]) {
            datos.porfidia.cromos[param] = true;
            let contador = 0;
            for (var [key, value] of Object.entries(datos.porfidia.cromos)) {
              if (!key) {}
              if (value) contador += 1;
            }
            datos.porfidia.tot_cromos_logra = contador;
            localStorage.enfermedades = JSON.stringify(datos);
            const checkCromo = async (req, res) => {
              await this.$store.dispatch('loadEnfermedades');
              await this.$msgExito('Felicidades su cromo ya fue activado');
              await this.$router.push('/');
            };
            try {
              checkCromo();
            } catch (error) {
              this.$msgError('Error al iniciar sesión inténtelo nuevamente');
            }
          } else {
            this.$router.push('/');
          }
        } else {
          this.$router.push('/');
        }
      },
      cargarVista (vista) {
        // this.$store.commit('SET_VIEW_AUX_OPEN', vista);
      }
    }
  };
</script>
