<template>
  <v-card class="v-card--material pa-3">
    <div class="d-flex grow flex-wrap">
      <div class="row">
        <v-sheet
          :color="color"
          :max-height="icon ? 65 : undefined"
          :width="icon ? 'auto' : '100%'"
          elevation="6"
          class="v-card--material__heading mb-n6 pa-5"
          dark
        >
          <v-icon v-if="icon" size="25" v-text="icon" />
        </v-sheet>

        <div v-if="title" class="d-inline-block ml-4 card-title font-weight-light text-truncate" style="max-width: 60%;" v-text="title" />
      </div>

      <div v-if="$slots['btnForm']">
        <slot name="btnForm" />
      </div>
    </div>
    <v-col cols="12" class="px-0">
      <v-divider />
    </v-col>
    <slot />
  </v-card>
</template>

<script>
  export default {
    name: 'CardCrud',

    props: {
      color: {
        type: String,
        default: 'primary'
      },
      icon: {
        type: String,
        default: undefined
      },
      title: {
        type: String,
        default: ''
      }
    },

    computed: {}
  };
</script>
