<template>
  <v-container
    id="tarifas-form"
    fluid
    tag="section"
  >
    <v-row justify="center">
      <v-col
        cols="12"
        md="10"
      >
        <base-material-card>
          <template v-slot:heading>
            <div class="display-2 font-weight-light">
              <span v-text="title" />
            </div>

            <div class="subtitle-1 font-weight-light" />
          </template>

          <v-form
            ref="form"
            v-model="valid"
            lazy-validation
          >
            <v-container class="py-0">
              <v-row>
                <v-col cols="12" md="4">
                  <v-text-field
                    v-model="description"
                    label="Descripción tarifa"
                    outlined
                    :rules="[rules.required]"
                  />
                </v-col>

                <v-col cols="12" md="4">
                  <v-text-field
                    v-model="value"
                    class="purple-input"
                    prefix="$"
                    label="Valor"
                    outlined
                    :rules="[rules.required]"
                  />
                </v-col>

                <v-col cols="12" md="4">
                  <v-select
                    v-model="active"
                    :items="active_item"
                    outlined
                    :rules="[rules.required]"
                    label="Estado"
                    required
                  />
                </v-col>
                <v-col cols="12" class="text-right">
                  <v-btn
                    v-if="$can('tarifas.store')"
                    color="success"
                    class="mr-2"
                    @click="registrar"
                  >
                    Guardar
                  </v-btn>
                  <v-btn
                    color="error"
                    class="mr-0"
                    @click="cargarVista('index')"
                  >
                    Cancelar
                  </v-btn>
                </v-col>
              </v-row>
            </v-container>
          </v-form>
        </base-material-card>
      </v-col>
    </v-row>
  </v-container>
</template>
<script src="./src/formulario.js"></script>
