<template>
  <div>
    <formulario v-if="vistaAuxOpen === 'formTarifas'" />

    <v-container
      v-else
      id="tabla-tarifas"
      fluid
      tag="section"
    >
      <base-card-crud
        title="Listado de tarifas"
        icon="mdi-clipboard-text"
        class="px-5 py-3"
      >
        <template v-slot:btnForm>
          <v-btn color="primary" dark class="btnForm" @click="cargarVista('formTarifas')">
            <v-icon class="mr-2">
              mdi-plus
            </v-icon>
            Nuevo
          </v-btn>
        </template>

        <v-card-title>
          <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            label="Search"
            single-line
            hide-details
          />
        </v-card-title>

        <v-data-table
          :headers="headers"
          :items="items"
          :server-items-length="totalItems"
          :options.sync="options"
          :loading="loading"
          :search="search"
          class="elevation-1"
        >
          <template v-slot:[`item.actions`]="{ item }">
            <v-icon
              small
              class="mr-2"
              @click="editItem(item)"
            >
              mdi-pencil
            </v-icon>
            <v-icon
              small
              @click="deleteItem(item)"
            >
              mdi-delete
            </v-icon>
          </template>
        </v-data-table>

        <template v-slot:no-data>
          <v-btn color="primary" @click="initialize">
            Reset
          </v-btn>
        </template>
      </base-card-crud>
    </v-container>
  </div>
</template>
<script src="./src/index.js"></script>
