<template>
  <v-container id="user-profile" fluid tag="section" class="fill-height">
    <v-row justify="center">
      <v-col cols="12" md="3">
        <base-material-card>
          <template v-slot:heading primary>
            <div class="display-2 font-weight-light">
              Login
            </div>

            <div class="subtitle-1 font-weight-light">
              icono
            </div>
          </template>

          <v-form ref="form">
            <v-container class="py-0">
              <v-row>
                <v-col cols="12" md="12">
                  <v-text-field
                    v-model="email"
                    :rules="[rules.required, rules.email]"
                    label="Usuario"
                    prepend-icon="mdi-email"
                  />
                </v-col>

                <v-col cols="12" md="12">
                  <v-text-field
                    v-model="password"
                    :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
                    :rules="[rules.required, rules.min]"
                    :type="show1 ? 'text' : 'password'"
                    label="Contraseña"
                    counter
                    prepend-icon="mdi-map-marker"
                    @click:append="show1 = !show1"
                  />
                </v-col>

                <v-col cols="12" class="text-right">
                  <v-btn color="primary" class="mr-0" @click="loguear">
                    Iniciar sesión
                  </v-btn>
                </v-col>
              </v-row>
            </v-container>
          </v-form>
        </base-material-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
  export default {
    data () {
      return {
        show1: false,
        email: '',
        password: '',
        rules: {
          required: value => !!value || 'Requerido.',
          min: v => v.length >= 6 || 'Min 6 caracteres.',
          email: value => {
            const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return pattern.test(value) || 'Email invalido.';
          }
        }
      };
    },
    methods: {
      loguear () {
        let permissions = ['user.list'];
        if (!this.$refs.form.validate()) { return 0; }

        if (this.email === 'admin@test.com') {
          permissions = ['user.list', 'admin.list'];
        }

        const tokenFake = {
          infoToken: {
            token_type: 'Bearer',
            expires_in: 8640000,
            access_token: 'xxxxxxxxxxxxx',
            refresh_token: 'yyyyyyyyyyyy'
          },
          roles: ['Super Admin'],
          permissions: permissions
        };

        const enfermedades = {
          porfidia: {
            tot_cromos: 8,
            tot_cromos_logra: 0,
            cromos: {
              rHrdPj: false,
              IKYPkt: false,
              ryRKtV: false,
              YcnBqi: false,
              noPgSk: false,
              JhtjeL: false,
              mvXfVm: false,
              hSbCVk: false
            }
          }
        };

        localStorage.enfermedades = JSON.stringify(enfermedades);

        setTimeout(() => {
          const dt = new Date();
          dt.setSeconds(dt.getSeconds() + tokenFake.infoToken.expires_in);
          tokenFake.expires_at = dt.getTime();
          localStorage.tokenUser = JSON.stringify(tokenFake);

          const checklogin = async (req, res) => {
            await this.$store.dispatch('loadTokenLogin');
            await this.$store.dispatch('loadEnfermedades');
            await this.$store.dispatch('checkStatusLogin');
            await this.$router.push('/');
          };

          try {
            checklogin();
          } catch (error) {
            this.$msgError('Error al iniciar sesión inténtelo nuevamente');
          }
        }, 1000);
      }
    }
  };
</script>
